@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
body {
margin: 0;
background-color: #738BF7;
font-size:24px;
font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
}
a {
    text-decoration:none;
    color:#17508A;
}
a:hover {
    color: black;
}